[Unit]
Description=Asus Keyboard Backlight
Wants=systemd-backlight@leds:asus::kbd_backlight.service
After=systemd-udevd.service
[Service]
Type=oneshot

RemainAfterExit=yes
ExecStart=/bin/chmod 666 /sys/class/leds/asus::kbd_backlight/brightness
ExecStart=/usr/bin/asus-kbd-backlight allowusers
[Install]
WantedBy=multi-user.target
